body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 30%;
}

.left-header {
    display: flex;
    align-items: center;
}

.hero-main {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    column-gap: 50px;
    padding: 100px 30% 125px 30%;
}

.hero-main-left,
.hero-main-right {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.hero-main-left {
    width: 300px;
    gap: 10px;
}

.hero-main-right {
    justify-content: center;
    align-items: center;
    width: 500px;
    min-height: 200px;
    background-color: #696969;
    color: white;
}

.hero-secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
}

.cards {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 16px;
    width: 140px;
}

.card-img-placeholder {
    box-sizing: border-box;
    border: 3px solid #3882F6;
    border-radius: 10px;
    height: 140px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.footer {
    display: flex;
    height: 75px;
    justify-content: center;
    align-items: center;
}

.header,
.footer, .hero-main {
    background-color: #1F2937;
    color: white;

}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-links {
    display: flex;
    gap: 16px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 30% 75px 30%;
}

.quote-author {
    align-self: flex-end;
}

.quote-text,
.quote-author {
    font-size: 26px;
    font-style: italic;
    font-weight: 100;
}

.quote-author {
    font-weight: bold;
}

.hero-main {
    display: flex;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 40px;
    justify-content: center;
    column-gap: 100px;
    margin: 75px 30%;
}

.call-to-action-left {
    margin-left: 10%;
}

.call-to-action-right {
    display: flex;
    align-items: center;
}

.call-to-action-header {
    margin: 0;
}

.signup-btn-lower {
    margin-right: 10%;
    height: 35px;
    width: 125px;
    background-color: transparent;
    color: #E5E7EB;
    border: 2px solid white;
    border-radius: 7.5px;
}

.signup-btn {
    width: 100px;
    height: 35px;
    background-color: #3882F6;
    color: #E5E7EB;
    /* border: 2px solid white; */
    border-radius: 7.5px;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 2em;
}

.random-info {
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-text {
    text-align: center;
}